<header> <!-- entête -->
  <div id='nav'><!-- navigation -->
    <div id='gmail'><a href='https://www.google.com/gmail'>Gmail<a/></div> <!-- bouton 'gmail' -->
    <div id='images'><a href='https://images.google.com/?hl=fr'>Images</a></div> <!-- bouton 'images' -->
    <div><img src='images/G_logo_google.png' alt='G_google' id='launcher'></div> <!-- launcher -->
    <div id='sign_in'><a href='https://accounts.google.com/signin'>Sign in</a></div> <!-- bouton 'sign in' -->
  </div>
</header>

<div id='logo'> <!-- logo google -->
  <img src='images/logo_google.png' alt='Logo Google'>
</div>

<div id='search'> <!-- barre de recherche + bouttons -->
  <div id='search_bar'></div> <!-- barre de recherche -->
  <div id='box_buttons'> <!-- 2 boutons -->
    <input class='button' type='submit' value='Google Search'><!-- boutton 'google search' -->
    <input class='button' type='submit' value='I'm Feeling Lucky'><!-- bouton 'i'm feeling lucky' -->
  </div>
</div>


<footer>  <!-- pied de page -->
<div id='country'>France
</div> <!-- pays -->

<div id='infos'> <!-- informations client -->
  <nav id='info_left'> <!-- 'advertising' + 'business' + 'about'-->
    <ul>
      <li><a href='https://adwords.google.com'>Advertising</a></li>
      <li><a href='https://google.com/services'>Business</a></li>
      <li><a href='https://google.com/intl'>About</a></li>
    </ul>
  </nav>

  <nav id='info_right'> <!-- 'consumer information' + 'privacy' + 'terms' + 'settings' -->
    <ul>
      <li><a href='https://support.google.com'>Consummer Information</a></li>
      <li><a href='https://policies.google.com'>Privacy</a></li>
      <li><a href='https://policies.google.com'>Terms</a></li>
      <li><a href='https://www.google.fr/preferences?hl=fr'>Settings</a></li>
    </ul>
  </nav>
</div>
</footer>
